

nav{
    width: 80%;
    height: 30px;
    padding: 1% 2%;
    background-color: #39180F;
}

.container{
    width: 100%;
    margin: 5px;
}

.about{
    background-color: #86AA84;
    width: 84%;
    overflow: auto;
    
}
.about img{
    float: left;
    padding-left: 7%;
    padding-top: 2%;
}
.about-text{
    float: left;
    color: #fff;
    padding: 3%;
    width: 64%;
    background-color: #86AA84;
}
.about-text h1,p{
    padding-right: 8%;
}

.main{
    position: relative;

}

.sidebar{
    margin-top: 1%;
    float: left;
    width: 14%;
    padding: 3% 2%;
    height: 500px;
    background-color: #96AFAC;
    overflow: auto;
}

.main-body{
    margin-top: 1%;
    float: left;
    width: 60%;
    height: 500px;
    padding: 3%;
    overflow: auto;
    background-color: #DBD8C5;
}

.clear{
    clear: both;
}
